<div class="wrapper row-offcanvas row-offcanvas-left">
   <aside class="right-side">
       <section class="content-header no-margin">
           <h1 class="text-center">
             SUGGESTION
           </h1>
       </section>
        <div class="container">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="form-group">
                  <textarea name="message" id="email_message" class="form-control" placeholder="Suggestion" style="height: 120px;" #Suggestion></textarea>
              </div>
               <div class="modal-footer clearfix">
                 <a href="#" (click)="do_suggestion(Suggestion.value)" class="btn btn-primary" ><b>Submit</b></a>
               </div>
            </div>
            </div>
          </div>
   </aside>
</div>
