<div class="wrapper row-offcanvas row-offcanvas-left">
    <aside class="right-side">
      <section class="content-header no-margin">
          <h1 class="text-center">
            Students
          </h1>
      </section>

      <section class="content">
        <div class="col-md-12">
          <div class="box box-solid">
            <div class="box-body card">
              <div class="card-body">
                <table class="table table-sm-responsive table-stripped table-hover">
                  <thead>
                    <tr class="info">
                      <th> <input type="checkbox" value=""></th>
                      <th>Name</th>
                      <th>E-Mail</th>
                      <th>Academic Year</th>
                      <th>Course</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <ng-template [ngIf]="status  == '1'">
                    <tbody  *ngFor="let info of information">
                      <tr>
                        <td><input type="checkbox" value=""></td>
                        <td>{{info.stud_name}}</td>
                        <td>{{info.mail}}</td>
                        <td>{{info.curr_acad_yr}}</td>
                        <td>{{info.course_name}}</td>
                        <ng-template [ngIf]="info.active  == '1'">
                          <td>
                            <button type="button"  class="btn btn-success" name="button">Active</button>
                          </td>
                        </ng-template>
                        <ng-template [ngIf]="info.active  == '0'">
                          <td>
                            <button type="button"  class="btn btn-danger" name="button">Inactive</button>
                          </td>
                        </ng-template>
                      </tr>
                    </tbody>
                  </ng-template>

                  <ng-template [ngIf]="status  == '0'">
                    <tbody>
                      <tr class="text-center">
                        <td colspan="10">No active users</td>
                      </tr>
                    </tbody>
                  </ng-template>
                </table>
              </div>
            </div>
          </div>
        </div>
      </section>
  </aside>
</div>
<router-outlet></router-outlet>
