<div class="wrapper row-offcanvas row-offcanvas-left">
  <aside class="right-side">
      <section class="content-header no-margin">
          <h1 class="text-center">
              Mailbox
          </h1>
      </section>
      <!-- Main content -->
      <section class="content">
          <div class="mailbox row">
              <div class="col-xs-12">
                  <div class="box box-solid card">
                      <div class="box-body">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-md-3 col-sm-4">
                              <div class="box-header">
                                <i class="fa fa-inbox"></i>
                                <h3 class="box-title">INBOX</h3>
                              </div>

                              <a href='/compose'class="btn btn-block btn-primary"  ><i class="fa fa-pencil"></i> Compose Message</a>

                              <div style="margin-top: 15px;">
                                <ul class="nav nav-pills nav-stacked">
                                  <li class="header">Folders</li>
                                  <li class="active" (click)="get_inbox_mail()" id="inbox-mail"><i class="fa fa-inbox"></i> Inbox <ng-template>mail_count</ng-template></li>
                                  <li  (click)="get_sent_mail()" id="sent-mail"><i class="fa fa-mail-forward"></i> Sent</li>
                                  <li><i class="fa fa-folder"></i> Trash</li>
                                </ul>
                              </div>
                            </div><!-- /.col (LEFT) -->
                            <div class="col-md-9 col-sm-8">
                            <div class="row pad">
                              <div class="col-sm-6">
                                <label style="margin-right: 10px;">
                                  <input type="checkbox" id="check-all"/>
                                </label>
                                <!-- Action button -->
                                <div class="btn-group">
                                  <button type="button" class="btn btn-default btn-sm btn-flat dropdown-toggle" data-toggle="dropdown">
                                    Action <span class="caret"></span>
                                  </button>
                                  <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Mark as read</a></li>
                                    <li><a href="#">Mark as unread</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Delete</a></li>
                                  </ul>
                                </div>

                              </div>
                              <div class="col-sm-6 search-form">
                                <form action="#" class="text-right">
                                  <div class="input-group">
                                    <input type="text" class="form-control input-sm" placeholder="Search">
                                    <div class="input-group-btn">
                                      <button type="submit" name="q" class="btn btn-sm btn-primary"><i class="fa fa-search"></i></button>
                                    </div>
                                  </div>
                                </form>
                              </div>
                            </div>
                            <ng-template [ngIf]="status == '1'">
                              <div class="table-responsive table-hover table-stripped"  id="right-mail-content">
                                <!-- THE MESSAGES -->
                                <table class="table table-mailbox" *ngFor="let info of information">
                                  <!-- <tr class="unread">
                                    <td class="small-col"><input type="checkbox" /></td>
                                    <td class="name"><a href="#">John Doe</a></td>
                                    <td class="subject"><a href="#">Urgent! Please read</a></td>
                                    <td class="time">12:30 PM</td>
                                  </tr> -->

                                  <tr  data-toggle="modal" data-target="info.mail_id">
                                    <td class="small-col"><input type="checkbox" /></td>
                                    <td class="name"><a href="#">{{info.name}}</a></td>
                                    <td class="subject"><a href="#">{{info.content}}</a></td>
                                    <td class="time">{{info.timestamp}}</td>
                                  </tr>
                                </table>
                              </div>
                            </ng-template>

                            <ng-template [ngIf]="status == '0'">
                              <div class="table-responsive table-hover table-stripped">
                                <table class="table table-mailbox">
                                  <tr>
                                    <td class="small-col"></td>
                                    <td class="name">No mails to show</td>
                                    <td class="subject"></td>
                                    <td class="time"></td>
                                  </tr>
                                </table>
                              </div>
                            </ng-template>

                            </div>
                          </div><!-- /.row -->
                          <div id="{{info.mail_id}}" class="modal fade" role="dialog" *ngFor="let info of information">
                            <div class="modal-dialog">

                              <!-- Modal content-->
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                  <h4 class="modal-title">Modal Header</h4>
                                </div>
                                <div class="modal-body">
                                  <p>Some text in the modal.</p>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                              </div>

                            </div>
                          </div>
                        </div>
                      </div>
                  </div><!-- /.box -->
              </div><!-- /.col (MAIN) -->
          </div>
      </section><!-- /.content -->
  </aside><!-- /.right-side -->
</div><!-- ./wrapper -->

<div class="modal fade" id="compose-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title"><i class="fa fa-envelope-o"></i> Compose New Message</h4>
          </div>

      </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<router-outlet></router-outlet>
