<div class="wrapper row-offcanvas row-offcanvas-left">
  <aside class="right-side">
    <section class="content-header no-margin">
      <h1 class="text-center">
          View Profile
      </h1>
    </section>
    <section class="content-header no-margin">
      <div class="box box-solid card">
        <div class="box-body">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-4 col-md-3 card">
                <div class="card-body">
                  <div class="image">
                    <img class="avatar border-white" src="assets/img/faces/maneesha.jpg" alt="..."/>
                  </div>
                  <div class="content">
                    <div class="author">
                      <h4 class="title">Manisha Radhakrishnan<br />
                        <a href="#">
                          <small>rlmanus31@gmail.com</small>
                        </a>
                      </h4>
                    </div>
                  </div>
                  <hr>
                </div>
              </div>
              <div class="col-lg-8 col-md-7">
                <div class="card">
                  <div class="header">
                    <h4 class="title">Profile</h4>
                  </div>
                  <div class="content">
                    <form>
                      <div class="row">
                        <div class="col-md-8">
                          <div class="form-group">
                            <label>Full Name</label>
                            <input type="text" class="form-control border-input" value="Manisha" readonly>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="exampleInputEmail1">Email</label>
                            <input type="email" class="form-control border-input" value="rlmanus31@gmail.com" readonly>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="exampleInputEmail1">Contact</label>
                            <input type="text" class="form-control border-input" value="9967748118" readonly>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label>Address</label>
                            <textarea class="form-control border-input"readonly>Chembalipurath Marath, Thalore                                </textarea>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label>Course</label>
                            <input type="text" class="form-control border-input" placeholder="Masters in Computer Application" readonly>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label>Department</label>
                            <input type="text" class="form-control border-input" placeholder="Department"  readonly>
                          </div>
                        </div>
                      </div>
                      <div class="text-center">
                        <a href="/stud-edit" type="submit" class="btn btn-info btn-block btn-wd">Edit Profile</a>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </aside>
</div>
<router-outlet></router-outlet>
