<div class="wrapper row-offcanvas row-offcanvas-left">
  <aside class="right-side">
    <section class="content-header no-margin">
         <div class="row">
            <div class="col-lg-4 col-md-3">
                <div class="card card-user">
                    <div class="image">
                        <img class="avatar border-white" src="assets/img/faces/maneesha.jpg" alt="..."/>
                    </div>
                    <div class="content">
                        <div class="author">
                            
                          <h4 class="title">Manisha Radhakrishnan<br />
                             <a href="#"><small>@manu</small></a>
                          </h4>
                        </div>
                    </div>
                    <hr>
                   
                </div>
                
            </div>
         
        <div class="col-lg-8 col-md-7">
               <div class="card">
                    <div class="header">
                        <h4 class="title">Profile</h4>
                    </div>
                    <div class="content">
                        <form>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Username</label>
                                        <input type="text" class="form-control border-input" placeholder="Username" value="rlmanus31" readonly>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email address</label>
                                        <input type="email" class="form-control border-input" placeholder="Email" value="rlmanus31@gmail.com" readonly>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>First Name</label>
                                        <input type="text" class="form-control border-input" placeholder="Company" value="Manisha" readonly>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Last Name</label>
                                        <input type="text" class="form-control border-input" placeholder="Last Name" value="Radhakrishnan" readonly>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Address</label>
                                        <input type="text" class="form-control border-input" placeholder="Home Address" value="Chembalipurath Marath, Thalore" readonly>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>City</label>
                                        <input type="text" class="form-control border-input" placeholder="City" value="Thrissur" readonly>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Country</label>
                                        <input type="text" class="form-control border-input" placeholder="Country" value="India" readonly>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Postal Code</label>
                                        <input type="number" class="form-control border-input" placeholder="ZIP Code" value="680306" readonly>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>About Me</label>
                                        <textarea rows="5" class="form-control border-input" placeholder="Here can be your description" value="Manisha" readonly>
                                      
                                        </textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <a href="/stud-edit" type="submit" class="btn btn-info btn-fill btn-wd">Update Profile</a>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
        </div>
        </div>
    </section>
  </aside>
</div>
<router-outlet></router-outlet>