<div class="form-box" id="login-box">
  <div class="header">Sign In</div>
  <div class="body bg-gray">
    <ng-template [ngIf]="status  == 0">
      <div class="alert alert-danger">
        {{message}}
      </div>
    </ng-template>

    <ng-template [ngIf]="status == 1">
      <div class="alert alert-success">
        {{message}}
      </div>
    </ng-template>

    
    <div class="form-group">
      <input type="text" name="user_email" #user_email class="form-control" placeholder="Email"/>
    </div>
    <div class="form-group">
      <input type="password" name="password" #password class="form-control" placeholder="Password"/>
    </div>
    <div class="form-group">
      <a type="submit" class="btn bg-olive btn-block" (click)="do_login(user_email.value, password.value)">Sign me in</a>
    </div>
    <div class="form-group">
      <a href= "/register" class="text-center">Register as a student</a>
    </div>
    <!-- <div class="footer">
    </div> -->
  </div>
</div>
<router-outlet></router-outlet>
