<div class="wrapper row-offcanvas row-offcanvas-left">
  <aside class="right-side">
    <section class="content-header no-margin">
      <h1 class="text-center">
        Proposal Submission
      </h1>
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="mailbox row">
          <ng-template [ngIf]="status  == 0">
            <div class="alert alert-danger">
               {{message}}
            </div>
          </ng-template>

          <ng-template [ngIf]="status  == 1">
            <div class="alert alert-success">
               {{message}}
            </div>
          </ng-template>

          <!-- <ng-template [ngIf]="status == 1 && unique == false">
            <div class="alert alert-warning">
               There are {{number_of_similar_projects[0]["count"]}} similar project(s).
               <br/>
               <li id="submit-anyway" (click)="do_submit_topic(project_title.value, project_domains.value, project_technologies.value, project_description.value, true)">Submit anyway</li>&nbsp;
               <a href="/submit-topic">Reset form content</a>?
            </div>
          </ng-template> -->
          <ng-template [ngIf]="status == '1' && unique == true">
            <div class="alert alert-success">
               Successful submission
            </div>
          </ng-template>
        <div class="col-xs-12">
          <div class="box box-solid">
            <div class="box-body card">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12 col-sm-6">
                    <div class="box-header">
                      <!--<div class="" *ngFor="let info of information">-->
                      <div class="modal-body">
                        <div class="form-group">
                          <div class="input-group">
                            <span class="input-group-addon">TITLE:</span>
                            <input name="project_title" type="text" class="form-control" aria-describedby="project_title_help" value="{{information ? information[0]['proj_title'] : ''}}"  #project_title>
                            </div>
                            <small id="project_title_help" class="form-text text-muted">A concise title for your project</small>
                          </div>
                          <div class="form-group">
                            <div class="input-group">
                              <span class="input-group-addon">DOMAIN:</span>
                              <input name="domain_help" type="text" class="form-control" aria-describedby="domain_help" value="{{information ? information[0]['proj_domain'] : ''}}" #project_domains>
                              </div>
                              <small id="domain_help" class="form-text text-muted">Domain of your project. Please separate multiple domain names with a comma</small>
                            </div>
                            <div class="form-group">
                              <div class="input-group">
                                <span class="input-group-addon">TECHNOLOGY:</span>
                                <input name="technology" type="text" class="form-control" aria-describedby="technology_help" value="{{information ? information[0]['proj_technology'] : ''}}" #project_technologies>
                                </div>
                                <small id="technology_help" class="form-text text-muted">Technologies that would be used in your project. Please separate multiple technologies names with a comma</small>
                              </div>
                              <div class="form-group">
                                <!-- <textarea name="topic_description" id="topic_description" class="form-control" placeholder="Description of the idea" rows="10" value="{{information ? information[0]['proj_desc'] : ''}}" #project_description></textarea> -->
                                <!-- <input type="file" (change)="onChange($event, project_description)" />
                                <small id="technology_help" class="form-text text-muted">Select a text (.txt) file of your project abstract</small> -->
                                <iframe src="http://127.0.0.1:8090/" width="" id="file_upload_iframe" height=""></iframe>

                                <!-- <div class="card-body"></div> -->
                                <table>
                                  <tr id="desc_row" border="1">
                                    <td #project_description id="project_description" (click)="editable_desc()"></td>
                                  </tr>
                                </table>
                                <!-- <markdown class="variable-binding" [data]="markdown" #project_description></markdown> -->
                              </div>
                      </div>
                      <!--</div>-->
                            <div class="modal-footer clearfix">
                              <ng-template [ngIf]="information == null">
                                <button (click)="do_submit_topic(project_title.value, project_domains.value, project_technologies.value,  false)" class="btn btn-info">Submit</button>
                              </ng-template>

                              <ng-template [ngIf]="information">
                                <!-- <button (click)="do_edit_topic()" type="submit" class="btn btn-primary pull-left">Edit</button> -->
                                <button (click)="do_topic_save(project_title.value, project_domains.value, project_technologies.value, project_description.textContent, false)" type="submit" class="btn btn-primary pull-left">Save</button>
                              </ng-template>


                            </div>
                          </div>
                        </div>
                        <!-- /.col (LEFT) -->
                        <div class="col-md-9 col-sm-8">
                          <div class="row pad">
                            <div class="col-sm-6">
                            </div>
                            <div class="col-sm-6 search-form">
                            </div>
                          </div>
                          <div class="table-responsive">
                          </div>
                          <!-- /.table-responsive -->
                        </div>
                        <!-- /.col (RIGHT) -->
                      </div>
                      <!-- /.row -->
                    </div>
                  </div>
                  <!-- /.box-body -->
                </div>
                <!-- /.box -->
              </div>
              <!-- /.col (MAIN) -->
            </div>
          </section>
          <!-- /.content -->
        </aside>
      </div>
      <!-- ./wrapper -->
<router-outlet></router-outlet>
