<div class="wrapper row-offcanvas row-offcanvas-left">
  <aside class="left-side sidebar-offcanvas">
    <ng-template [ngIf]="role != null">
      <section class="sidebar">
        <div class="user-panel">
          <div class="pull-left image">
            <img src="./assets/img/avatar3.png" class="img-circle" alt="User Image" />
          </div>
          <div class="pull-left info">
            <p>Hello, {{user_name}}</p>
            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
          </div>
        </div>
          <ul class="sidebar-menu">
              <!-- <li>
                <a href = "/login">
                  <i class="fa fa-user"></i> <span>Login</span>
                </a>
              </li> -->
              <li>
                <a href = "/student-profile">
                  <i class="fa fa-eye"></i> <span>View Profile</span>
                </a>
              </li>
              <li class="treeview">
                <a href="#">
                  <i class="fa fa-envelope"></i> <span>Mailbox</span>
                  <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                  <li (click)="needed_role('cood')"><a>Coordinator</a></li>
                  <li (click)="needed_role('guide')"><a>Guide</a></li>
                  <li (click)="needed_role('stud')"><a>Student</a></li>
                </ul>
              </li>
              <ng-template [ngIf]="role == 'stud'">
                <li>
                  <a href = "/submit-topic">
                    <i class="fa fa-info"></i> <span>Submit Topic</span>
                  </a>
                </li>
              </ng-template>
              <!--<ng-template [ngIf]="role  == stud" || [ngIf]="role  == cood">-->
                <li>
                  <a href = "/topic-view">
                    <i class="fa fa-eye"></i> <span>View Submitted Topic</span>
                  </a>
                </li>
                <ng-template [ngIf]="role == 'stud'">
                <li>
                  <a href = "/suggestion-view">
                    <i class="fa fa-eye"></i> <span>Suggestion</span>
                  </a>
                </li>
                </ng-template>
                <ng-template [ngIf]="role == 'guide'">
                <li>
                  <a href = "/suggestion">
                    <i class="fa fa-eye"></i> <span>Suggestion</span>
                  </a>
                </li>
                </ng-template>

                  <!-- <ng-template [ngIf]="role == 'guide'">
                    <li>
                      <a href = "/users">
                        <i class="fa fa-users"></i> <span>Users</span>
                      </a>
                    </li>
                  </ng-template> -->
                <ng-template [ngIf]="role  == 'cood'">
                  <li>
                    <a href = "/guide-project-update">
                      <i class="fa fa-question-circle"></i> <span>Project Status</span>
                    </a>
                  </li>
                </ng-template>
                <!-- <li>
                  <a href = "localhost:3000" target="_blank" >
                    <i class="fa fa-retweet"></i> <span>Chat</span>
                  </a>
                </li> -->
                <ng-template [ngIf]="role  != null">
                  <li>
                    <a href = "/logout">
                      <i class="fa fa-info"></i> <span>Logout</span>
                    </a>
                  </li>
                </ng-template>
          </ul>
      </section>
    </ng-template>
  </aside>

<router-outlet></router-outlet>
