<div class="wrapper row-offcanvas row-offcanvas-left">
  <aside class="right-side">
    <section class="content-header no-margin">
         <div class="row">
            <div class="col-lg-4 col-md-3">
                <div class="card card-user">
                    <div class="image">
                        <img class="avatar border-white" src="assets/img/blank_photo.png" alt="..."/>
                         <h6>Upload a different photo...</h6>
                         <input type="file" class="text-center center-block file-upload">
                    </div>
                 </div>
             </div>
         
        <div class="col-lg-8 col-md-7">
               <div class="card">
                    <div class="header">
                        <h4 class="title">New Registration</h4>
                    </div>
                    <div class="content">
                        <form>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Username</label>
                                        <input type="text" class="form-control border-input" placeholder="Username">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email address</label>
                                        <input type="email" class="form-control border-input" placeholder="Email">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>First Name</label>
                                        <input type="text" class="form-control border-input" placeholder="Company">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Last Name</label>
                                        <input type="text" class="form-control border-input" placeholder="Last Name">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Address</label>
                                        <input type="text" class="form-control border-input" placeholder="Home Address">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>City</label>
                                        <input type="text" class="form-control border-input" placeholder="City">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Country</label>
                                        <input type="text" class="form-control border-input" placeholder="Country">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Postal Code</label>
                                        <input type="number" class="form-control border-input" placeholder="ZIP Code" >
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="password"><h4>Password</h4></label>
                                    <input type="password" class="form-control" name="password" id="password" placeholder="password" title="enter your password.">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="password2"><h4>Verify</h4></label>
                                    <input type="password" class="form-control" name="password2" id="password2" placeholder="password2" title="enter your password2.">
                                </div>
                           </div>
                            <div class="footer">
                                <button routerlink="/stud-dash" class="btn bg-olive btn-block">Sign me up</button>
                                <a href="/login" class="text-center">I already have a membership</a>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
        </div>
        </div>
    </section>
  </aside>
</div>
<router-outlet></router-outlet>