<div class="wrapper row-offcanvas row-offcanvas-left">
  <aside class="right-side">
    <section class="content-header no-margin">
      <div class="row">
        <body class="bg-white">
          <div class="form-box" id="login-box">
            <div class="header">Register New Membership</div>
            <form>
              <div class="body bg-gray">
                <ng-template [ngIf]="status  == 0">
                  <div class="alert alert-danger">
                    Registration failed. Please try again later.
                  </div>
                </ng-template>

                <ng-template [ngIf]="status  == 1">
                  <div class="alert alert-success">
                    Please wait while you are redirected to login page
                  </div>
                </ng-template>
                <div class="form-group">
                  <input type="text" name="full_name" #full_name class="form-control" placeholder="Full name"/>
                </div>
                <div class="form-group">
                  <input type="email" name="email" #email class="form-control" placeholder="Email address"/>
                </div>
                <div class="form-group">
                  <input type="password" name="password" #password class="form-control" placeholder="Password"/>
                </div>
                <div class="form-group">
                  <input type="password" name="confirm_password" #confirm_password class="form-control" placeholder="Confirm password"/>
                </div>
                <div>
                  <ng-template [ngIf]="role == 'admin'">
                  <select name="user_role" class="form-control" id="user_role" #user_role>
                    <option value="">--Role-- </option>
                    <option value="cood">Coordinator</option>
                    <option value="guide">Guide</option>
                  </select>
                  </ng-template>
                  <ng-template [ngIf]="role == null">
                    <div class="form-group">
                      <small class="form-text text-muted">Registering as Student</small>
                    </div>
                  </ng-template>
                </div>
                <div class="form-group">
                  <ng-template [ngIf]="role == null">
                  <button (click)="do_request(full_name.value, email.value, password.value, confirm_password.value, 'stud')" class="btn bg-olive btn-block">Sign me up</button>
                  </ng-template>
                  <ng-template [ngIf]="role == 'admin'">
                    <button (click)="do_request(full_name.value, email.value, password.value, confirm_password.value, 'admin')" class="btn bg-olive btn-block">Register</button>
                  </ng-template>
                </div>
              </div>
            </form>
          </div>
        </body>
      </div>
    </section>
  </aside>
</div>
<router-outlet>
</router-outlet>
