<div class="wrapper row-offcanvas row-offcanvas-left">
  <aside class="right-side">
    <section class="content-header no-margin">
      <div class="row">
        <div class="col-lg-4 col-md-3">
          <div class="card card-user">
            <div class="image">
              <img class="avatar border-white" src="assets/img/blank_photo.png" alt="..."/>
              <h6>Upload a different photo...</h6>
              <input type="file" class="text-center center-block file-upload"/>
            </div>
          </div>
        </div>
        <div class="col-lg-8 col-md-8">
          <div class="card">
              <div class="header">
                <h4 class="title">Edit Profile</h4>
              </div>
              <div class="content">
                <form>
                  <div class="row">
                    <div class="col-md-8">
                      <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control border-input" #full_name>
                      </div>
                    </div>
                  </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="exampleInputEmail1">Email</label>
                          <input type="email" class="form-control border-input" #email>
                          </div>
                        </div>
                        <div class="col-md-6">
                        <div class="form-group">
                          <label for="exampleInputEmail1">Contact</label>
                          <input type="number" class="form-control border-input" #contact>
                          </div>
                        </div>
                    </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                      <label>Address</label>
                      <textarea class="form-control border-input" #address></textarea>
                    </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                          <label>Course</label>
                          <select class="form-control border-input" #course>
                            <option> -- Select a course -- </option>
                            <option value="">Course name</option>
                            <option value="">Course name</option>
                            <option value="">Course name</option>
                            <option value="">Course name</option>
                            <option value="">Course name</option>
                            <option value="">Course name</option>
                            <option value="">Course name</option>
                          </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                          <label>Department</label>
                          <select class="form-control border-input" #department>
                            <option> -- Select a department -- </option>
                            <option value="">Department</option>
                            <option value="">Department</option>
                            <option value="">Department</option>
                            <option value="">Department</option>
                            <option value="">Department</option>
                            <option value="">Department</option>
                            <option value="">Department</option>
                          </select>
                        </div>
                    </div>
                  </div>
                  <div class="text-center">
                    <a class="btn btn-info btn-block btn-wd btn-md" (click)="do_update_request(full_name.value, email.value, contact.value, address.value, course.value, department.value)">Save</a>
                  </div>
                  <div class="clearfix"></div>
                </form>
              </div>
            </div>
        </div>
      </div>
    </section>
  </aside>
</div>
<router-outlet></router-outlet>
