<div class="wrapper row-offcanvas row-offcanvas-left">
  <aside class="right-side">
    <section class="content-header no-margin">
      <div class="row">
        <div class="col-lg-4 col-md-3">
          <div class="card card-user">
            <div class="image">
              <img class="avatar border-white" src="assets/img/blank_photo.png" alt="..."/>
              <h6>Upload a different photo...</h6>
              <input type="file" class="text-center center-block file-upload"/>
            </div>
          </div>
        </div>
        <div class="col-lg-8 col-md-7">
          <div class="card">
              <div class="header">
                <h4 class="title">Edit Profile</h4>
              </div>
              <div class="content">
                <form>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control border-input" placeholder="Email" #email>
                        </div>
                      </div>
                      <div class="col-md-4">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Contact</label>
                        <input type="email" class="form-control border-input" placeholder="Contact" #contact>
                        </div>
                      </div>
                  </div>
                  <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label>First Name</label>
                            <input type="text" class="form-control border-input" placeholder="Firstname" #first_name>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label>Last Name</label>
                            <input type="text" class="form-control border-input" placeholder="Last Name" #last_name>
                            </div>
                          </div>
                    </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                      <label>Address</label>
                      <input type="text" class="form-control border-input" placeholder="Residence Address" #address>
                    </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                          <label>Course</label>
                          <select class="form-control border-input" #course>
                            <option> -- Select a course -- </option>
                            <option value="">Course name</option>
                            <option value="">Course name</option>
                            <option value="">Course name</option>
                            <option value="">Course name</option>
                            <option value="">Course name</option>
                            <option value="">Course name</option>
                            <option value="">Course name</option>
                          </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                          <label>Department</label>
                          <select class="form-control border-input" #department>
                            <option> -- Select a department -- </option>
                            <option value="">Department</option>
                            <option value="">Department</option>
                            <option value="">Department</option>
                            <option value="">Department</option>
                            <option value="">Department</option>
                            <option value="">Department</option>
                            <option value="">Department</option>
                          </select>
                        </div>
                    </div>
                  </div>
                  <div class="text-center">
                    <a class="btn btn-info btn-fill btn-wd btn-md" (click)="do_update_request(first_name.value, last_name.value, email.value, contact.value, address.value, course.value, department.value)">Save</a>
                  </div>
                  <div class="clearfix"></div>
                </form>
              </div>
            </div>
        </div>
      </div>
    </section>
  </aside>
</div>
<router-outlet></router-outlet>
